<div id="info-component">
  <div class="top-avatar">
    <a routerLink="/" >
      <img src="assets/avatar.jpg" />
    </a>
  </div>
  <h3>Nguyen Anh Tuan(NA)</h3>
  <div class="link-group">
    <a routerLink="/blog" class="blog-link">Blog</a>
    <ul class="social-link">
      <li>
        <a href="https://www.facebook.com/tuanna2704" target="_blank">
          <img src="assets/fb-icon.png">
        </a>
      </li>
      <li>
        <a href="https://github.com/tuanna2704" target="_blank">
          <img src="assets/github-icon.png" />
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/tuanna2704" target="_blank">
          <img src="assets/linkedin-icon.png" />
        </a>
      </li>
    </ul>
  </div>
</div>
