<div id="post-component">
  <div class="left">
    <app-info></app-info>
  </div>
  <div class="right">
    <div class="title"><h3>{{title}}</h3></div>
    <div class="content">
      <table>
        <tr>
          <th>Code</th>
          <th>Hero Name</th>
          <th>Location</th>
          <th>Level</th>
          <th>Price</th>
          <th></th>
        </tr>
        <tr app-hero-detail *ngFor="let hero of heroes"
          [hero]="hero" [title]="title">
        </tr>
      </table>
      {{heroes[0].code}}
    </div>
  </div>
</div>
