<div id="post-component">
  <div class="left">
    <app-info></app-info>
  </div>
  <div class="right">
     <div class="title">
       <h3>List Posts </h3>
     </div>
     <div class="content" (app-scroll-to-end)="tuanna($event)">
       <div class="post" *ngFor="let post of list | even: limit">
         <div class="title">
           <a [routerLink]="['/blog', post.id]" [innerHTML]="post.title"></a>
         </div>
         <div class="body" [innerHTML]="post.content"></div>
       </div>
    </div>
  </div>
</div>
