<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" type="text/css" href="assets/custom.css">
    <base href="/">
  </head>

  <body>
    <%= yield %>
  </body>
  <script type="text/javascript" src="http://localhost:4200/inline.bundle.js"></script>
  <script type="text/javascript" src="http://localhost:4200/polyfills.bundle.js"></script>
  <script type="text/javascript" src="http://localhost:4200/styles.bundle.js"></script>
  <script type="text/javascript" src="http://localhost:4200/vendor.bundle.js"></script>
  <script type="text/javascript" src="http://localhost:4200/main.bundle.js"></script>
</html>
